$page1-bg: #014e56;
$page3-bg: rgb(0, 64, 71);
$white: white;
$lightRed: #f67e7e;
$lightGreen: rgb(121, 200, 199);
$green: #012f34;

$dark-teal: #004047;
$dark-blue: #012f34;
$light-teal: #79C8C7;
$coral: #f67e7e;