* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}
html,
body {
  font-family: sans-serif;
}
main {
  background-color: #014e56;
}
.text_form {
  padding-top: 100px;
  background-color: #014e56;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1063px) {
    & {
      flex-wrap: wrap;
    }
  }
  .text {
    padding: 120px 0;
    margin: 0 auto;
    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 100px;
      letter-spacing: 0px;
      color: white;
    }
    p {
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: 0px;
      color: #f67e7e;
      padding: 16px 0 32px;
    }
    .MINICARDS {
      .miniCArds {
        display: flex;
        align-items: center;
        gap: 23px;
        margin: 8px 0;
        a {
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0px;
          color: white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .form {
    margin: 0 auto;
    form {
      max-width: 542px;
      display: block;
      justify-content: center;
      input {
        width: 100%;
        margin-top: 24px;
        padding: 14px;
        background-color: #014e56;
        border: none;
        color: white;
        border-bottom: 1px solid white;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.12px;
        &:focus {
          outline: none;
        }
      }
      .submit {
        margin-top: 32px;
        padding: 9px 32px;
        background-color: white;
        border: none;
        border-radius: 24px;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        &:hover {
          background-color: #002f3a;
          color: white;
          border: none;
          text-decoration: none;
        }
      }
    }
  }
}

.container2 {
  display: flex;
  gap: 125px;
  justify-content: center;
  align-items: center;
}
