@use "variables.scss" as var;
@use "reset.scss";

.menu {
  width: 40px;
  height: 40px;
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  a {
    text-decoration: none;
    color: var.$white;
  }
}
nav {
  position: fixed;
  padding-top: 73px;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-position {
  display: flex;
  align-items: center;

  gap: 80px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 577px;
}
.btn {
  a {
    text-decoration: none;
    color: var.$white;
  }
  width: 153px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 24px;
  border: 2px solid var.$white;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
}
.position2 {
  position: absolute;
  bottom: 0;
  right: 165px;
}
.page1 {
  width: 100%;
  height: 700px;
  background-color: var.$page1-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page1-info {
  display: flex;
  gap: 50px;
  align-items: flex-end;
}
.page1-info h1 {
  color: var.$white;
  font-weight: 700;
  font-size: 100px;

  span {
    color: var.$lightRed;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
  }
}

.page1-info p {
  width: 445px;
  font-weight: 600;
  font-size: 18px;

  color: var.$white;
}
.page2 {
  background-color: var.$green;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  h2 {
    font-weight: 700;
    font-size: 48px;
    color: var.$white;
  }
}
.position3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.card {
  width: 540px;
  height: 94px;
  display: flex;
  gap: 23px;
  align-items: flex-start;
  h3 {
    color: var.$lightRed;
    font-weight: 700;
    font-size: 18px;
  }
  p {
    color: var.$white;
    font-weight: 600;
    font-size: 15px;
    opacity: 0.6;
    margin-top: 16px;
  }
  img {
    width: 74px;
    height: 74px;
  }
}
.page2-cards {
  margin-top: 32px;
}
.page2-position {
  display: flex;
  align-items: flex-start;
  gap: 125px;
}

.page3 {
  position: relative;

  background-color: var.$page3-bg;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: 700;
    font-size: 48px;
    color: var.$white;
    text-align: center;
    span {
      font-weight: 700;
      font-size: 48px;

      color: var.$lightGreen;
    }
  }
}

.page3-cards {
  margin-top: 56px;
  display: flex;
  gap: 30px;
}
.page3-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var.$white;
  }
  h2 {
    margin-top: 24px;
    color: var.$lightGreen;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }
  h3 {
    font-weight: 500;
    font-size: 13px;
    color: var.$white;
    text-align: center;
  }
  img {
    border-radius: 50%;
    margin-top: 32px;
  }
}
.page3-position {
  display: flex;
  flex-direction: column;
}
.position4 {
  position: absolute;
  top: 0;
  left: 0;
}
.position5 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.page4 {
  position: relative;
  background-color: var.$lightRed;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: var.$green;
    font-weight: 700;
    font-size: 48px;
  }
  button {
    width: 153;
    height: 48;
    padding: 9px 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$green;
    border-radius: 30px;
    border: 2px solid var.$green;
    outline: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
  }
}
.page4-position {
  display: flex;
  gap: 260px;
}
.position6 {
  position: absolute;
  bottom: 0;
  left: 0;
}
footer {
  padding-top: 48px;
  background-color: var.$green;
  width: 100%;
  height: 196px;
  ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: 25px;
    a {
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      color: var.$white;
    }
  }
}
.paragraphs p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var.$white;
  opacity: 0.6;
}
.container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  p {
    font-weight: 600;
    font-size: 15px;
    color: var.$white;
    opacity: 0.6;
    padding-top: 51px;
  }
}

@media (min-width: 360px) {
  nav {
    padding-top: 40px;
    width: 100%;
    height: 160px;
    background-color: var.$page1-bg;
    .header-position {
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
    }

    .nav-links {
      gap: 20px;
    }
  }
  .page1 {
    height: 567px;
    .position1 {
      display: none;
    }
    .position2 {
      left: 0;
    }
    .page1-info {
      flex-wrap: wrap;
      justify-content: center;
      gap: 18px;
    }
    h1 {
      text-align: center;
      line-height: 5px;
      font-size: 40px;
      span {
        font-size: 40px;
      }
    }
    p {
      text-align: center;
      font-size: 15px;
      width: 327px;
    }
  }

  .page2 {
    .page2-position {
      flex-wrap: wrap;
      gap: 20px;
    }
    .card {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 60px;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 15px;

        line-height: 15px;
      }
    }
    .position3 {
      right: 0;
      top: 0;
    }
    height: 1073px;
    h2 {
      font-size: 32px;
    }
  }

  .page3 {
    height: 1410px;
    h2 {
      font-size: 32px;
      span {
        font-size: 32px;
      }
    }
    .page3-cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .page4 {
    height: 302px;
    .page4-position {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
    gap: 20px;
    h2 {
      font-size: 32px;
    }
  }

  footer {
    height: 432px;
    .container2 {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }
}

@media (min-width: 560px) {
  nav {
    padding-top: 50px;
    width: 100%;
    height: 120px;
    background-color: var.$page1-bg;
    .header-position {
      justify-content: center;
      flex-direction: row;
      gap: 48px;
    }

    .nav-links {
      gap: 220px;
    }
  }
  .page1 {
    height: 700px;
    .position1 {
      display: none;
    }
    .position2 {
      left: 204px;
    }
    .page1-info {
      flex-wrap: wrap;
      justify-content: center;
      gap: 18px;
    }
    h1 {
      text-align: center;
      line-height: 5px;
      font-size: 64px;
      span {
        font-size: 64px;
      }
    }
    p {
      text-align: center;
      font-size: 15px;
      line-height: 28px;
      width: 457px;
    }
  }

  .page2 {
    padding: 0 97px;
    height: 710px;
    .page2-position {
      flex-wrap: wrap;
      gap: 20px;
    }
    .card {
      flex-direction: row;
      align-items: center;
      text-align: start;
      margin-top: 60px;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 15px;

        line-height: 15px;
      }
    }
    .position3 {
      right: 0;
      top: 0;
    }
    height: 1073px;
    h2 {
      font-size: 32px;
    }
  }

  .page3 {
    height: 1199px;
    h2 {
      font-size: 32px;
      span {
        font-size: 32px;
      }
    }
    .page3-cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .page4 {
    height: 302px;
    .page4-position {
      flex-wrap: wrap;
      gap: 84px;
      justify-content: center;
    }

    h2 {
      font-size: 32px;
    }
  }

  footer {
    height: 432px;
    .container2 {
      padding: 0 39px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 150px;
    }
  }
}

@media (min-width: 920px) {
  nav {
    padding-top: 50px;
    width: 100%;
    height: 120px;
    background-color: var.$page1-bg;
    .header-position {
      justify-content: center;
      flex-direction: row;
      gap: 80px;
    }

    .nav-links {
      gap: 577px;
    }
  }
  .page1 {
    height: 700px;
    .position1 {
      display: flex;
    }
    .position2 {
      right: 0;
    }
    .page1-info {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
    h1 {
      text-align: start;
      line-height: 100px;
      font-size: 100px;
      span {
        font-size: 100px;
      }
    }
    p {
      text-align: start;
      font-size: 18px;
      line-height: 28px;
      width: 457px;
    }
  }

  .page2 {
    height: 684px;

    h2 {
      font-size: 48px;
    }
    .page2-position {
      flex-wrap: row;
      gap: 125px;
    }
    .card {
      flex-direction: row;
      align-items: center;
      text-align: start;
      margin-top: 60px;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 15px;

        line-height: 15px;
      }
    }
    .position3 {
      right: 0;
      top: 0;
    }
  }

  .page3 {
    height: 745px;
    h2 {
      font-size: 48px;
      span {
        font-size: 48px;
      }
    }
    .page3-cards {
      flex-direction: row;
      gap: 30px;
      justify-content: center;
    }
  }

  .page4 {
    height: 200px;
    .page4-position {
      flex-wrap: wrap;
      gap: 260px;
      justify-content: center;
    }

    h2 {
      font-size: 48px;
    }
  }

  footer {
    height: 196px;
    .container2 {
      flex-direction: row;
      flex-wrap: wrap;

      align-items: center;
      justify-content: center;
      gap: 125px;
    }
  }
}
